body {
    background-color: rgb(235, 235, 235);
  }
#inicio:hover{
    background-color: rgb(18, 0, 61);
    border: 1px solid rgb(18, 0, 61);
    color: white;
    border-radius:5px ;
    transition: 1s;
}
#title{
    font-size: 20px;
    margin-top:10px;
}

#nombre{
    border: solid 2px rgb(18, 0, 61); width: 100%; border-radius: 10px;
}
#apellido{
    border: solid 2px rgb(18, 0, 61); width: 100%; border-radius: 10px;
}
#email{
    border: solid 2px rgb(18, 0, 61); width: 100%; border-radius: 10px;
}
#numero{
    border: solid 2px rgb(18, 0, 61); width: 100%; border-radius: 10px;
}
#btn_nav:hover{
    background-color: rgb(18, 0, 61);
    border: 1px solid rgb(18, 0, 61);
    color: white;
    border-radius:5px ;
    transition: 1s;
}

#enviar{
    background-color: rgb(25, 225, 208);border:0;border-radius:5px;height:2.5rem;
}
#cancelar{
    background-color: rgb(225, 25, 25);border:0;border-radius:5px;height:2.5rem;
}

/* FOOTER*/

footer{
    width: 110%;
    padding: 50px 0px;
    background-image: url(./images/background-footer.svg);
    background-size: cover;
    
}

.social-media {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

.social-media-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.social-media-icon {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #000;
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

.social-media-icon i {
    margin-bottom: 5px;
}

.text_redes {
    margin-left: 5px; 
}

.social-media-icon:hover {
    background-color: #764ba2;
    color: #fff;
}
